/* styling, if syntax highlighter is enabled */
div.syntaxhighlighter { padding: 1px !important; border: 1px solid #ccc;}
div.syntaxhighlighter td.gutter, div.syntaxhighlighter td.code {border: none; border-style: hidden}
div.syntaxhighlighter pre {background: white; padding: 0 0.5em}

/* fallback styling; this will affect other "pre" elements also */
pre {background: #fff; color: #444; padding: 0.2em; border: 1px solid #ccc}

/**
 * Back-end
 */
.syntaxhighlighter_logo {
    float: left;
    width: 128px;
    height: 128px;
    margin: 0 1.5em 0.5em 0;
}
.syntaxhighlighter_license {
    text-align: justify;
}
.syntaxhighlighter_systemcheck {}
